.care-title-header{display: flex;align-items: center;justify-content: space-between;margin-bottom: 10px;}
.heading-title{font-size: 20px;font-weight: 600;margin: 0;padding: 0;color:var(--black);}
.featured-section{margin-bottom: 1rem;}

.findcare-content {background: var(--white); position: relative; border-radius: 10px; box-shadow: 0 8px 13px rgb(0 0 0 / 5%); margin-bottom: 1rem; padding: 1rem; }

.findcare-content h2{font-size: 18px; font-weight: 600; margin: 0 0 1rem 0; padding: 0; color: var(--black);}

.findcare-form .search-form-group,
.findcare-form .search-form-group-r {position: relative; }
.findcare-form  .form-group{margin-bottom: 1rem;}
.findcare-form  .form-group h4{font-size: 14px; font-weight: 600; padding: 0px 0; color: var(--black); }
.findcare-form .form-group input.form-control {position: relative; color: var(--gray); border-radius: 5px; font-weight: 400; font-size: 13px; box-sizing: border-box; padding: 13px 15px 13px 15px; border: 1px solid var(--border); width: 100%; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);}
.findcare-form .form-group select.form-control {appearance: auto; position: relative;color: var(--gray);border-radius: 5px;font-weight: 400;font-size: 13px;box-sizing: border-box;padding: 13px 15px 13px 15px;border: 1px solid var(--border);width: 100%;background: #FFF;box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);}
.findcare-form .form-group textarea.form-control  {position: relative; color: var(--gray); border-radius: 5px; font-weight: 400; font-size: 13px; box-sizing: border-box; padding: 13px 15px 13px 15px; border: 1px solid var(--border); width: 100%; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);}
.findcare-form span.form-group-icon {position: absolute; bottom: 12px; left: 12px; }
.findcare-form .form-group .form-control:focus{border: 1px solid var(--blue);}
.findcare-form .form-control::-ms-input-placeholder { /* Edge 12-18 */ color: var(--lightgray); }
.findcare-form .form-control::placeholder {color: var(--lightgray); }
.findcare-form .search-form-group input.form-control{padding: 13px 15px 13px 40px;}
.findcare-form .search-form-group span.search-icon {position: absolute; top: 50%; left: 10px; pointer-events: none; transform: translateY(-50%) scaleX(-1); color: #6362e7; font-size: 18px; }
.findcare-form span.Rangedays-text {position: absolute; right: 5px; bottom: 5px; background: var(--blue); color: var(--white); padding: 5px 15px; border-radius: 5px; font-size: 11px; }

.category-card {background: var(--white);border: 1px solid var(--border); position: relative; border-radius: 10px; box-shadow: 0 8px 13px rgb(0 0 0 / 5%); margin-bottom: 1rem; padding: 1rem; display: flex; justify-content: space-between; align-items: center; }
.category-card-content h2{    font-size: 14px; font-weight: 600; margin: 0 0 5px 0; background: var(--blue); color: var(--white); padding: 8px 15px; border-radius: 5px; display: inline-block;}
.category-card-content h5{font-size: 18px; font-weight:normal; margin: 0 0 0rem 0; padding: 0; color: var(--black);}





.Workingtime-list{display: flex; gap: 10px; list-style: none; margin: 0; padding: 0; align-items: center;}
.ceradio label {position: relative;display: inline-block;padding: 0 0 0 2.5em;margin-bottom: 8px;line-height: 1.7rem;cursor: pointer;font-size: 14px;color: #455A64;}
.ceradio label::before,
.ceradio label::after {position: absolute;top: 0;left: 0;display: block;width: 26px;height: 26px;}
.ceradio label::before {content: " ";border: 2px solid var(--border);-webkit-border-radius: 100%;-moz-border-radius: 100%;-ms-border-radius: 100%;-o-border-radius: 100%;border-radius: 100%;}
.ceradio input[type="radio"]{position: absolute; opacity: 0; z-index: -1; margin: 0; }
.ceradio input[type="radio"] + label::after {content: "";top: 4px;left: 4px;width: 18px;display: none;height: 18px;position: absolute;border-radius: 100%;background-color: var(--green);}
.ceradio input[type="radio"]:checked + label::before {border-color: var(--green);}
.ceradio input[type="radio"]:checked + label::after{display: block;}

.cecheckbox label { position: relative; display: inline-block; padding: 0 0 0 2em; margin-bottom: 10px;  line-height: 1.5; cursor: pointer; font-size: 14px; color: var(--black);}
.cecheckbox label::before,
.cecheckbox label::after {position: absolute; top: 0; left: 0; display: block; width: 24px; height: 24px; }
.cecheckbox label::before {content: " "; border: 1px solid var(--border); -webkit-border-radius: 3px; -moz-border-radius: 3px; -ms-border-radius: 3px; -o-border-radius: 3px; border-radius: 3px; }
.cecheckbox input[type="checkbox"]{position: absolute; opacity: 0; z-index: -1; margin: 0; }
.cecheckbox input[type="checkbox"] + label::after {content: "\2714"; color: #FFF; line-height: 1.9; text-align: center; border: none; }
.cecheckbox input[type="checkbox"]:checked + label::before {background: var(--green); border-color: var(--green); }
.cecheckbox input[type="checkbox"] + label::after{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.cecheckbox input[type="checkbox"]:checked + label::after{-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }


.choosemiles-list ul {margin: 0 0 1rem 0; padding: 0; list-style: none;display: flex; gap:10px;  }


.choosetimecheckbox input[type=checkbox]+label{background-color:#fff;padding: 10px 20px 10px 20px;width: 100%; display:inline-block;position:relative;cursor: pointer;font-size: 13px;font-weight: 400;}
.choosetimecheckbox input[type="checkbox"]{position:absolute;opacity:0;z-index:1}
.choosetimecheckbox input[type=checkbox]+label{}
.choosetimecheckbox input[type=checkbox]:checked+label:before{display:block;}
.choosetimecheckbox input[type=checkbox]:checked+label{color: var(--green);}
.choosetimecheckbox input[type=checkbox]+label:after {content: ' ';width: 100%;position: absolute;top: 0;left: 0;height: 100%;border: 1px solid transparent;box-shadow: 0 0 10px #efecec;border-radius: 5px;}
.choosetimecheckbox input[type=checkbox]+label:before{content:' ';border-radius:5px;width: 100%;position:absolute;top:0;left:0;z-index:1;height: 100%;display:none;border: 1px solid var(--green);display:none;}


.ceradio1 input[type='radio']+label{background-color:#fff;padding: 10px 20px 10px 20px;width: 100%; display:inline-block;position:relative;cursor: pointer;font-size: 13px;font-weight: 400;}
.ceradio1 input[type="radio"]{position:absolute;opacity:0;z-index:1}
.ceradio1 input[type="radio"]+label{}
.ceradio1 input[type="radio"]:checked+label:before{display:block;}
.ceradio1 input[type="radio"]:checked+label{color: var(--green);}
.ceradio1 input[type="radio"]+label:after {content: ' ';width: 100%;position: absolute;top: 0;left: 0;height: 100%;border: 1px solid transparent;box-shadow: 0 0 10px #efecec;border-radius: 5px;}
.ceradio1 input[type="radio"]+label:before{content:' ';border-radius:5px;width: 100%;position:absolute;top:0;left:0;z-index:1;height: 100%;display:none;border: 1px solid var(--green);display:none;}



.rg-step-list .steps {z-index: 9; border: none; position: relative; flex-direction: row; justify-content: center; margin-bottom: 1.5rem; }

.rg-step-list {position: relative;}
.rg-step-list .steps li {margin-right: 55px;position: relative;border: none;background-color: transparent;outline: none !important;cursor: pointer;font-size: 20px;font-weight: 600;display: -webkit-box;display: -ms-flexbox;display: flex;-webkit-box-align: center;-ms-flex-align: center;align-items: center;min-width: -webkit-max-content;min-width: -moz-max-content;min-width: max-content;z-index: 1;}

.rg-step-list .steps li:before {content: ""; top: -8px; left: -8px; width: 55px; height: 55px; position: absolute; border-radius: 100%; border: 2px solid #6b59d300; z-index: 1; } 
.rg-step-list .steps li span {width: 40px;color: #fff;height: 40px;font-size: 16px;font-weight: 700;line-height: 40px;border-radius: 50%;background: var(--gray);position: relative;text-align: center;display: inline-block;z-index:1;} 
.rg-step-list .steps li span:before {content: ""; height: 2px; width: 95px; background: var(--gray); position: absolute; left: 40px; top: 18px; }
.rg-step-list .steps li span:after {content: ""; height: 2px; width: 0; background: var(--green); position: absolute; left: 40px; top: 18px; -webkit-transition: all 0.6s ease; -o-transition: all 0.6s ease; transition: all 0.6s ease; }
.rg-step-list .steps li.last span:before, 
.rg-step-list .steps li.last span:after {display: none; } 
.rg-step-list .steps li.current span {background:var(--green); } 
.rg-step-list .steps li.current span:after {width: 86px; } 
.rg-step-list .steps li.current:before {content: ""; top: -8px; left: -8px; width: 55px; height: 55px; position: absolute; border-radius: 100%; border: 2px solid var(--green); } 
.rg-step-list .steps li.current span {background: var(--green); } 
.rg-step-list .steps li.current span:after {width: 50px; }
.rg-step-list .steps li:last-child span:before{display: none;}
.rg-step-list .steps li:last-child{margin-bottom: 0;}
.rg-step-list .steps li:last-child.current:before{display: none;}
.rg-step-list .steps li.current:last-child span:after{display: none;}


.care-card {background: var(--white); position: relative; border-radius: 10px; box-shadow: 0 8px 13px rgb(0 0 0 / 5%); }
.care-card-head{position: relative;border-radius: 10px 10px  0 0; background: var(--white);box-shadow: 0 8px 13px rgb(0 0 0 / 5%); display: flex;justify-content: space-between; padding:5px 10px;}
.findcare-user-info{display: flex; align-items: center; gap: 10px;}
.findcare-user-image{position: relative; width: 40px; height: 40px;border-radius: 50%;overflow: hidden;}
.findcare-user-image img{width: 100%; height: 100%; object-fit: cover;}
.findcare-user-text{flex: 1;}
.findcare-user-name {font-size: 14px; font-weight: 600; color: var(--black); }
.findcare-user-rating {color: var(--green); }
.findcare-card-body{padding: 10px;}

.findcare-pricetag-content{display: flex;align-items: center; justify-content: space-between;}
.pricehour-text {font-size: 18px; margin: 0 0 5px 0; padding: 0; color: var(--black); font-weight: 600; }
.exp-text {font-size: 14px; margin: 0; padding: 5px 20px; color: var(--white); font-weight: 600; background: var(--blue); display: inline-block; border-radius: 5px; margin-bottom: 1rem; }
.findcare-location-box {display: flex; gap: 10px; }
.findcare-location-text h4 {font-size: 14px; margin: 0; padding: 0; color: var(--black); font-weight: 600; }
.findcare-location-text p {font-size: 14px; margin: 0; padding: 0; color: var(--gray); }
.findcare-tag-text {font-size: 14px; margin: 0; padding: 8px 20px; color: var(--white);box-shadow: 0 8px 13px rgb(0 0 0 / 5%); font-weight: 600; background: var(--green); display: inline-block; border-radius: 5px; margin-bottom: 1rem; }

.findcarecheckbox label {position: relative;display: inline-block;height: auto;cursor: pointer;margin-bottom: 0;width: 100%;border-radius: 15px;padding: 1rem;box-shadow: 0px 8px 13px rgb(0 0 0 / 5%);background: #fff; margin-bottom: 1rem}
.findcarecheckbox label::before, 
.findcarecheckbox label::after {position: absolute;top: 0;border-radius: 15px;left: 0;display: block;right: 0;bottom: 0;}
.findcarecheckbox label::before {content: " ";border: 1px solid #E2EBF2;}
.findcarecheckbox input[type="checkbox"]{position: absolute; opacity: 0; z-index: -1; margin: 0; }
.findcarecheckbox input[type="checkbox"] + label::after {content: ""; color: #FFC107; font-size: 15px; height: 15px; width: 15px; margin: 0 auto; text-align: center; left: 5px; top: 5px; }
.findcarecheckbox input[type="checkbox"]:checked + label::before {border-color: #004A8E;}
.findcarecheckbox input[type="checkbox"] + label::after{-webkit-transform: scale(0); -moz-transform: scale(0); -ms-transform: scale(0); -o-transform: scale(0); transform: scale(0); }
.findcarecheckbox input[type="checkbox"]:checked + label::after{-webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); transform: scale(1); }
.findcarecheckbox .checkbox-circle-mark{top: 15px; right: 45px; position: absolute; display: block;}
.findcarecheckbox .checkbox-circle-mark:before{content: ""; width: 33px; height: 33px; border-radius: 100%; position: absolute; border: 2px solid #e9e9e9;} 
.findcarecheckbox .checkbox-circle-mark:after{top: 4px; left: 4px; width: 25px; content: ""; display: none; height: 25px; position: absolute; border-radius: 100%; background-color: #004a8e;} 
.findcarecheckbox input[type="checkbox"]:checked + label .checkbox-circle-mark:before {border: 2px solid #004A8E; } 
.findcarecheckbox input[type="checkbox"]:checked + label .checkbox-circle-mark:after {display: block; }
.findcarecheckbox input[type="checkbox"]:checked + label .account-option-text{color: #004a8e;}
