

/*----------------------------
         Add CSS file
----------------------------*/
/* @import "../plugins/bootstrap/css/bootstrap.min.css";
@import "../plugins/fontawesome/css/all.min.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap'); */

/*----------------------------
   element      
----------------------------*/
:root {
    --darkblue:#1d364e;
    --blue:#276E91;
    --sky:#66c2f9;
    --green:#45B14A;
    --orange:#F19A3A;
    --gray:#959FA6;
    --red:#ba4831;
    --lightgray:#8F93A0;
    --white:#ffffff;
    --body:#FCFCFC;
    --black:#132A3A;
    --border:#d1d1d1;
}

* {-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
html { text-rendering: optimizeLegibility !important;-webkit-font-smoothing: antialiased !important;}
*{margin:0; padding:0}
a{ text-decoration:none;}
a:hover{ text-decoration:none !important;}
header, nav, section, article, aside, footer { display:block;}
html {font-size: 100%;}
body {font-size: 14px; background:var(--body, #E8ECF2);font-family: 'Poppins', sans-serif;line-height: 26px;color:var(--gray, #4F5168);-webkit-font-smoothing: antialiased;font-weight: normal;}
h1, h2, h3, h4, h5, h6 {padding: 5px 0 15px 0;font-weight: normal;-webkit-font-smoothing: antialiased;}
:-ms-input-placeholder{color: var(--gray, #4F5168);}

.wd10{width: 10%;}
.wd20{width: 20%;}
.wd30{width: 30%;}
.wd40{width: 40%;}
.wd50{width: 50%;}
.wd60{width: 60%;}
.wd70{width: 70%;}
.wd80{width: 80%;}
.wd82{width: 82%;}
.wd85{width: 85%;}
.wd90{width: 90%;}
.wd100{width: 100%}

/*----------------------------
   header      
----------------------------*/
.top-header {width: 100%; padding: 10px 30px; position: relative; background:var(--darkblue); }
.top-header-content {display: flex; align-items: center; justify-content: space-between; }
.logo {margin-bottom: 0; }
.logo img {height: 70px; }

.profile-pic {height: 40px; overflow: hidden; background: #fff; width: 40px; text-align: center; border-radius: 8px; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); }
.profile-pic img{width: 100%; height: 100%; object-fit: cover;}
.profile-dropdown .dropdown-toggle::after{content: inherit;}
.top-header .user-profile-nav .dropdown-menu {position: absolute; font-size: 0.9rem; margin-top: 0; right: 0; left: auto; top: 50px; border: none; box-shadow: 0px 8px 13px rgb(0 0 0 / 5%); width: 160px; padding: 0; background: #ffffff; }
.top-header .user-profile-nav .dropdown-menu .dropdown-item {font-size: 13px;font-weight: 500;color: #455a64;border-radius: 5px;}
.top-header .user-profile-nav .dropdown-menu .dropdown-item.active, 
.top-header .user-profile-nav .dropdown-menu .dropdown-item:active, 
.top-header .user-profile-nav .dropdown-menu .dropdown-item:focus, 
.top-header .user-profile-nav .dropdown-menu .dropdown-item:hover {color: #ffffff;text-decoration: none;background-color: #75c8fa; border-radius: 0; border-bottom: solid 1px #ffffff;}

.top-header-rightnav ul.navbar-nav {flex-direction: row; }
.top-header-rightnav ul.navbar-nav .nav-item {display: flex; justify-content: center; position: relative; height: 45px; }
.top-header-rightnav .notification_dropdown .nav-link {
    position: relative;
    height: 45px;
    width: 45px;
    margin: 0 5px;
    line-height: 25px;
    text-align: center;
    border-radius: 0.5rem;
    border: 1px solid transparent;
}
.top-header-rightnav .nav-item .nav-link {
    color: #464a53;
    font-size: 1.125rem;
}


.notification_dropdown .dropdown-menu-end {
    min-width: 20.5rem;
    padding: 1rem 0 0rem;
    top: 100%;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
    position: absolute;
}

.bottom-header{background:var(--blue); position: relative; box-shadow: 0px 4px 35px 0px rgb(0 0 0 / 10%);}


.wsmenu > .wsmenu-list > li > ul.sub-menu {opacity: 0; visibility: hidden; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -webkit-transform-origin: 0% 0%; -o-transition: -o-transform 0.3s, opacity 0.3s; -ms-transition: -ms-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; transform-style: preserve-3d; -o-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform: rotateX(-75deg); -o-transform: rotateX(-75deg); -moz-transform: rotateX(-75deg); -webkit-transform: rotateX(-75deg); }
.wsmenu > .wsmenu-list > li:hover > ul.sub-menu {opacity: 1; visibility: visible; transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg); }
.wsmenu > .wsmenu-list > li  > ul.sub-menu > li > ul.sub-menu {opacity: 0; visibility: hidden; transform-style: preserve-3d; -o-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform: rotateX(-75deg); -o-transform: rotateX(-75deg); -moz-transform: rotateX(-75deg); -webkit-transform: rotateX(-75deg); }
.wsmenu > .wsmenu-list > li > ul.sub-menu > li:hover > ul.sub-menu {opacity: 1; visibility: visible; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -webkit-transform-origin: 0% 0%; -o-transition: -o-transform 0.4s, opacity 0.4s; -ms-transition: -ms-transform 0.4s, opacity 0.4s; -moz-transition: -moz-transform 0.4s, opacity 0.4s; -webkit-transition: -webkit-transform 0.4s, opacity 0.4s; transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg); }
.wsmenu > .wsmenu-list > li > ul.sub-menu > li > ul.sub-menu > li > ul.sub-menu {opacity: 0; visibility: hidden; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -webkit-transform-origin: 0% 0%; -o-transition: -o-transform 0.4s, opacity 0.4s; -ms-transition: -ms-transform 0.4s, opacity 0.4s; -moz-transition: -moz-transform 0.4s, opacity 0.4s; -webkit-transition: -webkit-transform 0.4s, opacity 0.4s; transform-style: preserve-3d; -o-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform: rotateX(-75deg); -o-transform: rotateX(-75deg); -moz-transform: rotateX(-75deg); -webkit-transform: rotateX(-75deg); }
.wsmenu > .wsmenu-list > li > ul.sub-menu > li > ul.sub-menu > li:hover > ul.sub-menu {opacity: 1; visibility: visible; transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg); }
.wsmenu > .wsmenu-list > li > .wsmegamenu {opacity: 0; visibility: hidden; -o-transform-origin: 0% 0%; -ms-transform-origin: 0% 0%; -moz-transform-origin: 0% 0%; -webkit-transform-origin: 0% 0%; -o-transition: -o-transform 0.3s, opacity 0.3s; -ms-transition: -ms-transform 0.3s, opacity 0.3s; -moz-transition: -moz-transform 0.3s, opacity 0.3s; -webkit-transition: -webkit-transform 0.3s, opacity 0.3s; transform-style: preserve-3d; -o-transform-style: preserve-3d; -moz-transform-style: preserve-3d; -webkit-transform-style: preserve-3d; transform: rotateX(-75deg); -o-transform: rotateX(-75deg); -moz-transform: rotateX(-75deg); -webkit-transform: rotateX(-75deg); }
.wsmenu > .wsmenu-list > li:hover > .wsmegamenu {opacity: 1; visibility: visible; transform: rotateX(0deg); -o-transform: rotateX(0deg); -moz-transform: rotateX(0deg); -webkit-transform: rotateX(0deg); }

 .wsmainfull {background-color: #fff; } 
 .wsmenu>.wsmenu-list {background-color: #fff; } 
 /* Mobile Header */ 
 .wsmobileheader {background-color: #fff; } 
 .wsmenu>.wsmenu-list>li>a {color:var(--white) ; } 
 .wsmenu>.wsmenu-list>li>a .wsarrow:after {border-top-color: #b3b3b3; } 
 .wsmenu>.wsmenu-list>li>a:hover .wsarrow:after {border-top-color: #fff; } 
 .wsmenu>.wsmenu-list>li>a.active .wsarrow:after {border-top-color: #fff; } 
 .wsmenu>.wsmenu-list>li:hover>a .wsarrow:after {border-top-color: #fff; } 
 .wsmenu>.wsmenu-list>li>a>i {color: #55606c; } 
 .wsmenu>.wsmenu-list>li>a.active i {color: #fff; } 
 .wsmenu>.wsmenu-list>li:hover>a>i {color: #fff; } 
 .wsmenu>.wsmenu-list>li>a:hover i {color: #fff; } 
 .wsmenu>.wsmenu-list>li>a.active {background-color: transparent; color:var(--sky); border-bottom: 2px solid var(--sky); }
 .wsmenu>.wsmenu-list>li:hover>a {background-color: transparent; color: var(--sky); border-bottom: 2px solid var(--sky); }
 .wsmenu>.wsmenu-list>li>a .wsmenuicon svg path{stroke: var(--white) }

 .wsmenu>.wsmenu-list>li:hover>a .wsmenuicon svg path,
 .wsmenu>.wsmenu-list>li>a.active .wsmenuicon svg path{stroke: var(--sky) }

 .wsmenu>.wsmenu-list>li>ul.sub-menu>li:hover>a {background-color:var(--blue); color: #fff; } 
 .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li:hover>a {background-color: #d7412e; color: #fff; } 
 .wsmenu>.wsmenu-list>li>ul.sub-menu>li>ul.sub-menu>li>ul.sub-menu>li:hover a {background-color: #d7412e; color: #fff; }

/*----------------------------
   Search filter    
----------------------------*/

.search-filter .search-form-group {position: relative; }
.search-filter .form-group input.form-control {position: relative; color: var(--gray); border-radius: 5px; font-weight: 400; font-size: 13px; box-sizing: border-box; padding: 13px 15px 13px 15px; border: 1px solid var(--border); width: 100%; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);}
.search-filter .form-group input.form-control {position: relative;color: var(--gray);border-radius: 5px;font-weight: 400;font-size: 13px;box-sizing: border-box;padding: 13px 15px 13px 15px;border: 1px solid var(--border);width: 100%;background: #FFF;box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);}
.search-filter .form-group textaera.form-control {position: relative; color: var(--gray); border-radius: 5px; font-weight: 400; font-size: 13px; box-sizing: border-box; padding: 13px 15px 13px 15px; border: 1px solid var(--border); width: 100%; background: #FFF; box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);}

.search-filter .search-form-group input.form-control{padding: 13px 15px 13px 40px;}
.search-filter .search-form-group span.search-icon {position: absolute; top: 50%; left: 10px; pointer-events: none; transform: translateY(-50%) scaleX(-1); color: #6362e7; font-size: 18px; }
/*----------------------------
   btn   
----------------------------*/
a.btn-gr {color: var(--white); white-space: nowrap; background: var(--green); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
a.btn-bl {color: var(--white);  white-space: nowrap; background: var(--blue); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
a.btn-wh {color: var(--black);  white-space: nowrap; background: var(--white); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
a.btn-gra {color: var(--black) !important;  white-space: nowrap; background: var(--gray) !important; box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
a.btn-re{color: var(--white);  white-space: nowrap; background: var(--red); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }



button.btn-gr {color: var(--white); border: none; white-space: nowrap; background: var(--green); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }

button.btn-bl {color: var(--white);border: none;  white-space: nowrap; background: var(--blue); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
button.btn-wh {color: var(--black); border: none; white-space: nowrap; background: var(--white); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
button.btn-gra {color: var(--black) !important; border: none; white-space: nowrap; background: var(--gray) !important; box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }
button.btn-re{color: var(--white);border: none;  white-space: nowrap; background: var(--red); box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px; font-size: 14px; font-weight: 600; padding: 10px 20px; }



/*----------------------------
   main-wrapper   
----------------------------*/
 .main-wrapper {padding: 1rem; }



/*----------------------------
   modal   
----------------------------*/
.ce-modal-Job-box h2{text-align: center;font-size:20px; font-weight:600; margin: 0 0 1rem 0; padding: 0; color: var(--black);}

.ce-modal-msg-icon {background: linear-gradient(180deg, #F8F9F9 1%, #ffffff 100%); width: 120px; height: 120px; border-radius: 50%; text-align: center; line-height: 120px; margin: auto; }
.ce-modal-msg-box h3,
.ce-modal-tab-box h3{text-align: center;font-size: 18px; font-weight:600; margin: 0 0 1rem 0; padding: 0; color: var(--black);}
.ce-modal-msg-action {text-align: center;}