/* .react-datepicker__view-calendar-icon input {
  padding: 15px 40px !important;
} */
.react-datepicker__input-container .react-datepicker__calendar-icon {
  padding: 1rem !important;
}

.react-datepicker-wrapper {
  width: 100%;
}

.alert.alert-danger {
  color: red;
  font-size: 12px;
  margin: 5px 0 0 5px;
}
.vehicle-type-card .iq-card {
  background: #ffffff !important;
}
.content-wrapper-login {
  background: #f8f8ff;
  padding: 2.75rem 2.25rem;
  width: 100%;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}
.fa.fa-eye {
  color: #fff;
}

.footer {
  margin-left: 260px;
  width: 100%;
}
.btn-gradient-danger {
  background: linear-gradient(to right, #db2d2d, #b62222);
  border: 0;
  padding: 14px 30px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.btn-gradient-success {
  background: linear-gradient(to right, #2ddb66, #5dce60);
  border: 0;
  padding: 14px 30px;
  border-radius: 6px;
  font-size: 14px;
  color: #fff;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}
.sidebar .nav {
  margin-bottom: 70px !important;
}
.sidebar .nav .nav-item {
  padding: 0 1.8rem !important;
}
.iq-bg-success {
  background: var(--iq-light-danger) !important;
  color: var(--green) !important;
  border: 1px solid var(--green);
  cursor: pointer;
}
.modal-body .react-datepicker-wrapper {
  width: 100%;
}
.cat-action {
  display: flex;
}
.care-table-pagination {
  padding: 10px 0 0 0;
}
ul.care-pagination {
  display: flex;
  padding-left: 0;
  list-style: none;
  margin: 0;
}
ul.care-pagination li a.page-link {
  color: #fff;
  background: var(--darkblue);
  position: relative;
  display: block;
  padding: 5px 15px;
  font-size: 14px;
  margin: 2px;
  border-radius: 5px;
  border: 1px solid var(--darkblue);
}
ul.care-pagination li.active a.page-link {
  color: #292b56;
  background: #fff;
  border: 1px solid #292b56;
}
ul.care-pagination li.disabled a.page-link {
  color: #fff;
  pointer-events: none;
  background: #292b56;
}

.btn-view-pending {
  background: #fff;
  border: 0;
  padding: 0;
  border-radius: 0;
  font-size: 14px;
  color: var(--yellow);
}

.care-status-pending,
.care-status-inactive {
  font-size: 14px;
  font-weight: 500;
  padding: 10px 0;
  color: var(--black);
}
.care-status-inactive span {
  color: #ff0000;
}
.care-status-pending span {
  color: #e8eb36;
}
a {
  text-decoration: none;
}
input[type="text"][disabled] {
  background: #eee;
}
.switch-toggle {
  display: flex;
  justify-content: space-evenly;
}
.switch-toggle p {
  font-size: 13px;
  margin: 0;
  color: #455a64;
  line-height: 24px;
  font-weight: 600;
}
.switch-toggle a {
  color: #007adf;
}
.toggle {
  --width: 40px;
  --height: calc(40px / 2);
  --border-radius: calc(40px / 2);
  display: inline-block;
  cursor: pointer;
}
.toggle__input {
  display: none;
}
.toggle__fill {
  position: relative;
  width: 50px;
  height: calc(50px / 2);
  border-radius: 50px;
  background: #e5e5f5;
  transition: background 0.2s;
}
.toggle__fill::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: calc(50px / 2);
  background: #ffffff;
  box-shadow: 0px 0px 13px rgb(0 0 0 / 5%);
  border-radius: 40px;
  transition: transform 0.2s;
  width: calc(50px / 2);
}
.toggle__input:checked ~ .toggle__fill {
  background: var(--green);
}
.toggle__input:checked ~ .toggle__fill::after {
  transform: translateX(24px);
}

.ck-editor__editable_inline {
  height: 35vh !important;
}

.select select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;

  background: #5c6664;
  background-image: none;
  flex: 1;
  padding: 0 0.7em;
  color: var(--black);
  cursor: pointer;
  font-size: 0.9rem;
}
.select select::-ms-expand {
  display: none;
}
.select .green-select {
  background: var(--white);
  border: 1px solid var(--black);
}
.select .red-select {
  background: #ff0000;
}
.select {
  position: relative;
  display: flex;
  width: 10em;
  height: 2.5em;
  line-height: 2.5;
  overflow: hidden;
  border-radius: 0.25em;
}
.select::after {
  content: "\25BC";
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 1em;
  cursor: pointer;
  border-left: 1px #fff solid;
  pointer-events: none;
  transition: 0.25s all ease;
}

.card-overview {
  background: var(--white);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 20px;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}
.card-overview-image {
  position: relative;
  margin-bottom: 10px;
}
.card-overview-content {
  position: relative;
}
.card-overview-content h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.card-overview-content h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--green);
  font-weight: 600;
}

.requests-table-card {
  background: var(--white);
  margin-bottom: 1rem;
  gap: 20px;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}

.activejbs-card {
  background: var(--white);
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  gap: 20px;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}
.activejbs-card-image {
  position: relative;
  margin-bottom: 10px;
}
.activejbs-card-content {
  position: relative;
}
.activejbs-card-content h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.activejbs-card-content h2 {
  font-size: 20px;
  margin: 0;
  padding: 0;
  color: var(--green);
  font-weight: 600;
}

/*----------------------------
   btn   
----------------------------*/
a.btn-gr {
  color: var(--white);
  white-space: nowrap;
  background: var(--green);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}
a.btn-bl {
  color: var(--white);
  white-space: nowrap;
  background: var(--blue);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}
a.btn-wh {
  color: var(--black);
  white-space: nowrap;
  background: var(--white);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

a.btn-re {
  color: var(--white);
  white-space: nowrap;
  background: var(--red) !important;
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

button.btn-gr {
  color: var(--white);
  border: none;
  white-space: nowrap;
  background: var(--green);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

button.btn-bl {
  color: var(--white);
  border: none;
  white-space: nowrap;
  background: var(--blue);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

button.btn-ye {
  color: var(--white);
  border: none;
  white-space: nowrap;
  background: var(--yellow);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

button.btn-dbl {
  color: var(--white);
  border: none;
  white-space: nowrap;
  background: var(--darkblue);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}
button.btn-wh {
  color: var(--black);
  border: none;
  white-space: nowrap;
  background: var(--white);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

button.btn-re {
  color: var(--white);
  border: none;
  white-space: nowrap;
  background: var(--red) !important;
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 10px 20px;
}

/*----------------------------
   advertisement   
----------------------------*/

.advertisement-section {
  margin-bottom: 1rem;
}
.care-title-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.heading-title {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--black);
}

.advertisement-card {
  background: var(--white);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}
.advertisement-user-image {
  position: relative;
  width: 100%;
  height: 200px;
  border-radius: 10px 10px 0 0;
}
.advertisement-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
}
.advertisement-content {
  position: relative;
  padding: 10px;
}
.advertisement-content h4 {
  font-size: 16px;
  margin: 0 0 1rem 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.advertisement-content p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--gray);
}
a.viewmorebtn {
  font-size: 14px;
  margin: 0;
  padding: 8px 20px;
  color: var(--white);
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
  font-weight: 600;
  background: var(--green);
  display: inline-block;
  border-radius: 5px;
}

.barchartcard {
  background: var(--white);
  position: relative;
  border-radius: 10px;
  padding: 1rem;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}

.payments-overview {
  background: var(--white);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
  display: flex;
  align-self: center;
  gap: 20px;
  padding: 1rem;
  margin-bottom: 1rem;
}
.payments-overview-image {
  position: relative;
}
.payments-overview-image img {
  height: 80px;
}
.payments-overview-content {
  position: relative;
  padding: 10px;
}
.payments-overview-content h2 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.payments-overview-content h4 {
  font-size: 16px;
  margin: 0 0 10px 0;
  padding: 0;
  color: var(--gray);
}
.payments-overview-content h6 {
  font-size: 14px;
  margin: 0 0 10px 0;
  padding: 0;
  color: var(--gray);
}
a.viewmorebtn {
  font-size: 14px;
  margin: 0;
  padding: 8px 20px;
  color: var(--white);
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
  font-weight: 600;
  background: var(--green);
  display: inline-block;
  border-radius: 5px;
}

/*----------------------------
   Search filter    
----------------------------*/
.cc-search-filter .form-group {
  margin-bottom: 0;
}
.cc-search-filter .search-form-group {
  position: relative;
}
.cc-search-filter .form-group input.form-control {
  position: relative;
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}
.cc-search-filter .form-group select.form-control {
  position: relative;
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  appearance: auto;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}
.cc-search-filter .form-group textaera.form-control {
  position: relative;
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}
.cc-search-filter .search-form-group input.form-control {
  padding: 13px 15px 13px 40px;
}
.cc-search-filter .search-form-group span.search-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  pointer-events: none;
  transform: translateY(-50%) scaleX(-1);
  color: var(--green);
  font-size: 18px;
}

.cc-search-filter .form-group input.DatePicker-control {
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  appearance: auto;
  box-sizing: border-box;
  padding: 11px 15px 11px 46px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
  height: auto;
}

.cc-table-card {
  background: var(--white);
  margin-bottom: 1rem;
  gap: 20px;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}

.cc-subscription-card {
  padding: 2rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 8px 24px;
  position: relative;
  background: var(--darkblue);
  border-radius: 10px;
  border-bottom: 3px solid var(--green);
}
.cc-planname-text {
  background: #f1f1f1;
  font-size: 16px;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--darkblue);
  font-weight: 600;
  margin-bottom: 10px;
}
.cc-subscription-info {
  margin-bottom: 1rem;
}
.cc-subscription-info p {
  font-size: 16px;
  font-weight: 300;
  color: var(--white);
  margin: 0;
  padding: 0;
}

.cc-subscription-price-info {
  border-top: 2px solid #778695;
  border-bottom: 2px solid #778695;
  padding: 1rem 0;
  margin-bottom: 1rem;
  position: relative;
}
.cc-plan-price-text {
  font-size: 50px;
  font-weight: 600;
  color: var(--white);
  margin: 0;
  padding: 0;
  line-height: 70px;
}
.cc-plan-persave-content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cc-plan-save-text {
  background: var(--green);
  font-size: 14px;
  display: inline-block;
  padding: 5px 20px;
  border-radius: 5px;
  color: var(--white);
  font-weight: 600;
}
.cc-plan-per-text {
  font-size: 14px;
  font-weight: 600;
  color: var(--white);
  margin: 0;
  padding: 0;
}
.cc-plan-point-list {
  color: var(--white);
}

/* .cc-plan-point-list ul {
  list-style: none;
  margin: 0 0 1rem 0;
  padding: 0;
}
.cc-plan-point-list ul li {
  font-size: 14px;
  font-weight: 300;
  color: var(--white);
  display: flex;
  gap: 10px;
  align-items: center;
  line-height: 24px;
  margin-bottom: 5px;
} */
.cc-plan-action {
  margin-bottom: 5px;
}
.cc-plan-action a {
  outline: none;
  width: 100%;
  padding: 8px 40px;
  display: inline-block;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  border-radius: 5px;
  border: none;
  background: var(--blue);
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
  text-align: center;
}

.cc-plan-action {
  margin-bottom: 5px;
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
}
.cc-subscription-point-info p {
  font-size: 14px;
  text-align: center;
  font-weight: 400;
  color: var(--white);
  margin: 0;
  padding: 0;
}

/*----------------------------
   modal filter    
----------------------------*/
.cc-modal-form .form-group {
  margin-bottom: 1rem;
}
.cc-modal-form .search-form-group {
  position: relative;
}
.cc-modal-form .form-group input.form-control {
  position: relative;
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}
.cc-modal-form .form-group select.form-control {
  position: relative;
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  appearance: auto;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}
.cc-modal-form .form-group textarea.form-control {
  position: relative;
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 13px;
  box-sizing: border-box;
  padding: 13px 15px 13px 15px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
}
.cc-modal-form .search-form-group input.form-control {
  padding: 13px 15px 13px 40px;
}
.cc-modal-form .search-form-group span.search-icon {
  position: absolute;
  top: 50%;
  left: 0px;
  pointer-events: none;
  transform: translateY(-50%) scaleX(-1);
  color: var(--green);
  font-size: 18px;
}

.cc-modal-form .form-group input.DatePicker-control {
  color: var(--gray);
  border-radius: 5px;
  font-weight: 400;
  font-size: 14px;
  appearance: auto;
  box-sizing: border-box;
  padding: 11px 15px 11px 46px;
  border: 1px solid var(--border);
  width: 100%;
  background: #fff;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05);
  height: auto;
}

.modal-content {
  border: none;
  border-radius: 10px;
}
.modal-header h5 {
  font-size: 15px;
  font-weight: 600;
  margin: 0;
  padding: 0;
  color: var(--black);
}

.cc-care-card {
  background: var(--white);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
}
.cc-care-card-head {
  position: relative;
  border-radius: 10px 10px 0 0;
  background: var(--white);
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
  display: flex;
  justify-content: space-between;
  padding: 5px 10px;
}

.cc-care-status {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  color: var(--black);
}
.cc-care-status span {
  color: var(--green);
}
.cc-care-id {
  font-size: 14px;
  font-weight: 600;
  padding: 10px 0;
  color: var(--black);
}
.cc-care-id span {
  color: var(--green);
}

.cc-care-card-body {
  padding: 10px;
}
.cc-title-text {
  font-size: 18px;
  margin: 0 0 5px 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.cc-date-text {
  font-size: 14px;
  margin: 0;
  padding: 5px 20px;
  color: var(--white);
  font-weight: 600;
  background: var(--blue);
  display: inline-block;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.cc-tags-list {
  margin-bottom: 10px;
}
.cc-tags-item {
  color: var(--white);
  border: none;
  white-space: nowrap;
  background: var(--green);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 20px;
  margin-bottom: 5px;
}

.cc-care-day-Weekly-info {
  display: flex;
  justify-content: space-between;
}
.cc-care-point-box {
  display: flex;
  gap: 10px;
  align-items: center;
}
.cc-care-point-icon i {
  font-size: 32px;
  color: var(--blue);
}
.cc-care-point-text h4 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.cc-care-point-text p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--gray);
}

span.btn-status {
  padding: 0 !important;
  color: var(--yellow);
  background: none;
  margin: 0;
}

.care-bob-user-card {
  background: var(--white);
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
  margin-bottom: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.care-bob-user-card-box {
  display: flex;
  align-items: center;
  gap: 20px;
}
.care-bob-user-card-image {
  width: 80px;
  height: 80px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.care-bob-user-card-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.care-bob-user-card-content {
  flex: 1;
}
.care-bob-user-card-content h5 {
  font-size: 18px;
  margin: 0 0 10px 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.care-bob-user-card-content p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--gray);
}

.careJobRequest-card {
  background: var(--white);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}
.careJobRequest-card-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--border);
}
.careJobRequest-card-body {
  padding: 10px;
}
.careJobRequest-card-head h5 {
  font-size: 18px;
  margin: 0 0 0px 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}

.careJobRequest-point-list {
  display: flex;
  gap: 30px;
  justify-content: space-between;
}
.careJobRequest-point-item h3 {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.careJobRequest-point-item p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--gray);
}

.CareJobRequests-box {
  background: var(--white);
  margin-bottom: 1rem;
  position: relative;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}
.CareJobRequests-box-head {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--border);
}
.CareJobRequests-box-body {
  padding: 10px;
}

.CareJobRequests-box-haed {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--border);
}

.CareJobRequests-box-haed h5 {
  font-size: 16px;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-weight: 600;
}
.CareJobRequests-box-haed p {
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: var(--gray);
}

.CareJobRequests-box-user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-top: 1px solid var(--border);
}

.CareJobRequests-box-user-info {
  display: flex;
  align-items: center;
  gap: 20px;
}

.CareJobRequests-box-user-image {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.CareJobRequests-box-user-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cc-provider-card {
  background: var(--white);
  margin-bottom: 1rem;
  position: relative;
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0 8px 13px rgb(0 0 0 / 5%);
}

.cc-provider-card-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid var(--border);
  margin-bottom: 1rem;
}
.cc-provider-card-header-profile {
  display: flex;
  align-items: center;
  gap: 20px;
}
.cc-provider-profile-image {
  width: 48px;
  height: 48px;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.cc-provider-profile-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.careJobRequest-pointlist {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.chat-userlist-info .chat-userlist-item.active {
  border-left: 3px solid var(--blue);
}

.react-calendar {
  width: 516px !important;
  height: 290px !important;
  max-width: 100% !important;
  background: white !important;
  border: 1px solid #ebebeb !important;
  border-radius: 10px !important;
  box-shadow: 0px 8px 13px rgb(0 0 0 / 5%) !important;
  line-height: 1.135em !important;
}

img {
  object-fit: cover;
  object-position: center;
}

.p-image {
  position: absolute;
  top: auto;
  right: 2px;
  bottom: 2px;
  transition: all 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  background: var(--blue);
  color: #fff;
  border-radius: 50%;
  height: 25px;
  width: 25px;
  line-height: 28px;
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.bottom-buttons {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 9999;
  background: var(--blue);
  height: 50px;
  width: 50px;
  color: white;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  align-content: center;
  text-align: center;
  justify-content: center;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.bottom-buttons i {
  font-size: 1.1rem;
}

.pac-container {
  background-color: #fff;
  z-index: 20;
  position: fixed;
  display: inline-block;
  float: left;
}
.modal {
  z-index: 20;
}
.modal-backdrop {
  z-index: 10;
}

.badge {
  display: inline-block;
  padding: 0.3em 0.5em;
  font-size: 100%;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.25rem;
  border: none;
}
.btn .badge {
  position: relative;
  top: -1px;
}
.badge-success {
  color: #fff;
  background-color: #28a745;
}
.badge-light {
  color: #212529;
  background-color: #f8f9fa;
}
.find-location-tab ul li a.active {
  background: var(--green) !important;
}
.find-location-tab ul li {
  box-shadow: 0px 8px 13px rgb(0 0 0 / 5%);
  border: 1px solid #eee
}
.care-location-text p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  letter-spacing: 0.25px;
  padding: 0;
  margin: 0;
}
.advertisement-desc p {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  letter-spacing: 0.25px;
  padding: 0;
  margin: 0;
}
.tags-item-sub {
  color: var(--white);
  white-space: nowrap;
  background: var(--blue);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 13px;
  font-weight: 600;
  padding: 5px 20px;
  margin-bottom: 5px;
}
.advertisement-tags-item-sub {
  color: var(--white);
  white-space: nowrap;
  background: var(--blue);
  box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12);
  display: inline-block;
  text-align: center;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 600;
  padding: 5px 15px;
}
.css-b62m3t-container {
  padding: 0px !important;
}
.css-13cymwt-control {
  appearance: auto !important;
  position: relative !important;
  color: var(--gray) !important;
  border-radius: 5px !important;
  font-weight: 400 !important;
  font-size: 13px !important;
  box-sizing: border-box !important;
  padding: 5px 12px !important;
  border: 1px solid var(--border) !important;
  width: 100% !important;
  background: #fff !important;
  box-shadow: 0px 8px 13px 0px rgba(0, 0, 0, 0.05) !important;
}
.react-calendar__tile--active {
  background: var(--blue) !important;
  border-radius: 5px;
}
.react-calendar__tile--now {
  border-radius: 5px;
}
button.search-btn {
  background: var(--blue) !important;
  border: none !important;
}
.noti-dropdown .dropdown-toggle::after {
  content: inherit;
}
.parent-notification {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 5px;
  overflow: hidden;
}
.notification-head {
  padding: 10px;
  position: relative;
  background: var(--white);
  border-bottom: 1px solid #eee;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.notification-head h2 {
  font-size: 16px;
  margin: 0;
  color: #343a40;
  padding: 0;
  font-weight: 600;
}
.notification-body {
  overflow: auto;
  height: 300px;
  background: var(--white);
  
}

.notification-foot {
  background: var(--blue);
  text-align: center;
  padding: 10px 15px;
  display: inline-block;
  width: 100%;
  color: var(--white);
}

.notification-foot a {
  color: var(--darkblue);
}

.noti-dropdown .dropdown-menu-right {
  right: 0;
  left: inherit;
  border: none;
}

.notification-item {
  display: flex;
  padding: 0.75rem 1rem;
}

.notification-item:hover {
  background-color: #f0f2f5;
}

.notification-item-icon {
  width: 32px;
  height: 32px;
  line-height: 32px;
  background: var(--blue);
  margin-right: 10px;
  text-align: center;
  border-radius: 50%;
  color: #ffffff;
}
.notification-item-text {
  flex: 1;
}
.notification-item-text h2 {
  font-size: 14px;
  margin: 0 0 10px 0;
  color: #343a40;
  padding: 0;
}
.notification-item-text p {
  font-size: 12px;
  color: #bcc4cf;
  margin: 0;
}
input.form-control{
  color: #929191 !important;
}
.tags-item, .details-tags-item, .advertisement-tags-item{
  background: var(--white) !important;
  border: 1px solid var(--blue) !important;
  color: var(--blue) !important;
  padding: 0px 5px !important;
  font-size: 12px !important;
}
.care-tag-text, .tags-item-sub, .details-tags-item-sub, .advertisement-tags-item-sub{
  background: var(--white) !important;
  border: 1px solid var(--green) !important;
  color: var(--green) !important;
  padding: 0px 5px !important;
  font-size: 12px !important;
}
.exp-text{
  background: var(--white) !important;
  border: 1px solid var(--gray) !important;
  color: var(--gray) !important;
  padding: 0px 5px !important;
  font-size: 12px !important;
}
.strip-text {color: var(--white); white-space: nowrap; background: var(--darkblue) !important; box-shadow: 0px 8px 13px 0px rgba(35, 53, 111, 0.12); display: inline-block; text-align: center; border-radius: 5px !important; font-size: 12px; font-weight: 600; padding: 0px 10px !important; margin-bottom: 5px; }
.care-point-text p{
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  letter-spacing: 0.25px;
  padding: 0;
  margin: 0;
}
.nav-link span.bg-danger{
  background: red !important;
}
.nav-link span.dots { color: var(--white); height: 7px; width: 7px; font-size: 0px; text-align: center; padding: 0; position: absolute; top: 0px; right: 21px; animation: shadow-pulse-dots 1s infinite; border-radius: 50%; -webkit-border-radius: 50%; }
@keyframes shadow-pulse-dots {
  0% { box-shadow: 0 0 0 0px rgba(236, 49, 49, 0.879); }
  100% { box-shadow: 0 0 0 15px rgba(230, 65, 65, 0); }
}
.notification-head h2 small.badge{
  background: var(--blue);
  color: var(--white);
  font-size: 12px;
  padding: .3em .6em;
  line-height: 1.3;
  text-transform: capitalize;
}
.date-text{
  background: var(--gray) !important;
}
.fa.fa-envelope{
  color: var(--red);
}
.fa.fa-phone{
  color: var(--green);
}
.form-group label {
  color: var(--black);
}
.register-form span.Rangedays-text {
  position: absolute;
  right: 5px;
  bottom: 5px;
  background: var(--blue);
  color: var(--white);
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 11px;
}
.notification-item.seen{
  background: #e5ebf1;
}
.cursor-pointer {
  cursor: pointer;
}
